#wrap{
    width: 1800px;
    height: 1000px;
    /* background:lightgreen;    */
    margin : auto; 
    overflow: hidden;
}
#main{
    width: 100%;
    height: 100%;
    background: lightblue;
    position: relative;
}
#main img{
    width: 5%;
    position: relative;
}
