#wrap {
    overflow: hidden;
}
#wrap img {
    width: 2200px;
    height: 1000px;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
}
#gameboard {
    background: white;
    border: 5px solid;
    width: 500px;
    height: 500px;
    display: block;
    position: relative;
    float: left;
    margin-left: 700px;
    margin-top: 170px;
    z-index: 1;
}
#mask {
    background: gray;
    width: 500px;
    height: 500px;
    font-size: 100px;
    line-height: 450px;
    text-align: center;
    opacity: 0.7;
    float: left;
}
#bullet {
    background: red;
    width: 30px;
    height: 30px;
    left: 470px;
    top: 470px;
    border-radius: 50px;
    position: relative;
    float: left;
    display: none;
}